@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
html {
  height: 100%;
}

/*
body {
    min-height: 150%;
}*/
.style-linkAll-solid {
  padding-bottom: 3px;
  border-bottom: 1px solid #dbdada;
  color: #dbdada;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}

.style-linkAll {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  color: #aaa9a9;
  /*border: solid red;*/
}

.style-linkAll::after {
  content: "";
  position: absolute;
  color: #dbdada;
  background: #dbdada;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover:after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover {
  transition: 0.75s;
  color: #dbdada;
  cursor: pointer;
}

.ctn-header {
  position: fixed;
  width: 100%;
  min-height: 40px;
  z-index: 99;
  background: transparent;
  /*background: red;*/
  margin-top: 35px;
  grid-area: header;
  display: flex;
  justify-content: space-between;
}
.ctn-header-menu {
  display: none;
}
.ctn-header-logo {
  /*border: solid $color;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.ctn-header-logo-item-1 {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 70%;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #182931;
}
.ctn-header-logo-item-1 .span-epis {
  color: #3131fe;
}
.ctn-header-logo-item-1 .span-unh {
  color: #e4e4e4;
}
.ctn-header-items {
  margin-right: 40px;
  /*border: solid  green;*/
  display: flex;
}
.ctn-header-items-1 {
  /*border: solid white;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-header-items-1 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
.ctn-header-items-2 {
  /*border: solid white;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-header-items-2 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
.ctn-header-items-2 .ctn-header-options {
  background-color: white;
  width: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 235px;
  margin-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}
.ctn-header-items-2 .ctn-header-options span {
  background: #0055ff;
  padding: 5px;
  margin: 2px;
}
.ctn-header-items-3 {
  /*border: solid white;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-header-items-3 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
.ctn-header-items-4 {
  /*border: solid white;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-header-items-4 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
.ctn-header-items-5 {
  /*border: solid white;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-header-items-5 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
.ctn-header-items-5 button {
  background: linear-gradient(90deg, #1c1c9a, #f318f0);
  border-radius: 50px;
  border: none;
  padding: 10px;
}
.ctn-header-items-5 button:hover {
  transition: 1s;
  background: linear-gradient(90deg, purple, blue);
}
.ctn-header-items-5 button:active {
  opacity: 0.5;
}
.ctn-header-items-5 .link-item-1 {
  color: white;
}

@media (max-width: 1000px) {
  .ctn-header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .ctn-header-logo-item-1 {
    font-size: 20px;
  }
  .ctn-header-menu {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ctn-header-menu .span-bar {
    color: white;
    font-size: 30px;
  }
  .ctn-header-menu:hover {
    opacity: 0.5;
  }
  .ctn-header-items-1 {
    display: none;
  }
  .ctn-header-items-2 {
    display: none;
  }
  .ctn-header-items-3 {
    display: none;
  }
  .ctn-header-items-4 {
    display: none;
  }
  .ctn-header-items-5 {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Jura", sans-serif;
  user-select: none;
}

.ctn-principal::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ctn-principal::-webkit-scrollbar-thumb {
  background: #5d5d5d;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ctn-principal::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.ctn-principal::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.ctn-principal {
  background: #0e1519;
  height: auto;
  display: grid;
  grid-template-rows: 100% 100%;
}
.ctn-principal .ctn-main {
  height: 100%;
  width: 100%;
  position: absolute;
  /*border: solid red;*/
  display: grid;
}
.ctn-principal .ctn-footer {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(180deg, #051015);
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ctn-principal .ctn-footer-content {
  flex-wrap: wrap;
  /*border: solid green;*/
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.ctn-principal .ctn-footer-content-social {
  margin: 1em;
  /*border: solid orange;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  /*justify-content: space-between;*/
}
.ctn-principal .ctn-footer-content-social .item-social {
  background: #1c2e37;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.ctn-principal .ctn-footer-content-items {
  /*border: solid blue;*/
}
.ctn-principal .ctn-footer-content-items span {
  font-size: 12px;
}
.ctn-principal .ctn-footer-content-items h1 {
  font-size: 22px;
}
.ctn-principal .ctn-copyright {
  background: #000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.text-button {
  position: relative;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid;
  background: none;
  color: white;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 400;
}

.text-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

.text-button:hover:after {
  background: white;
  color: black;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
}

.text-button:hover {
  border: none;
}

.material-symbols-outlined {
  font-size: 9px;
}

a {
  text-decoration: none;
}

.ctn-principal .ctn-main {
  grid-template-rows: 100% 100% 95% 100% auto 50%;
}
.ctn-principal .ctn-main-page-welcome {
  background: transparent;
  /*border: solid gold;*/
  display: grid;
  grid-template-columns: 60% 40%;
}
.ctn-principal .ctn-main-page-welcome-text {
  /*border: solid red ;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}
.ctn-principal .ctn-main-page-welcome-text-title {
  /*border: solid;*/
  margin-left: 5em;
  margin-bottom: 5em;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link {
  font-size: 12px;
  color: #d5d5d5;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll-solid {
  padding-bottom: 3px;
  border-bottom: 1px solid #3f3fff;
  color: #3f3fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  color: #937cdf;
  /*border: solid red;*/
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll::after {
  content: "";
  position: absolute;
  color: #3f3fff;
  background: #3f3fff;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll:hover:after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll:hover {
  transition: 0.75s;
  color: #3f3fff;
  cursor: pointer;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link .arrow {
  font-size: 10px;
  color: #937cdf;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-link .arrow:hover {
  color: #3f3fff;
}
.ctn-principal .ctn-main-page-welcome-text-title .title {
  font-size: 29px;
  font-weight: 400;
  color: #ffffff;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-description {
  font-size: 14px;
  color: #a8a7be;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-button {
  text-decoration: none;
}
.ctn-principal .ctn-main-page-welcome-text-title .text-button:hover {
  color: black;
  font-weight: 800;
}
.ctn-principal .ctn-main-page-welcome-image {
  /*border: solid;*/
  color: white;
}
.ctn-principal .ctn-main-page-information {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #0e1519, #0f1424, #081419);
  display: grid;
  grid-template-columns: 30% 70%;
  /*div{
      border: solid white;
  }*/
}
.ctn-principal .ctn-main-page-information-text {
  /*border: solid green;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main-page-information-text-text {
  width: 60%;
  color: white;
  /*border: solid red;*/
}
.ctn-principal .ctn-main-page-information-text-text .information-bienvenido {
  border-top: 1px solid white;
  font-size: 25px;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
}
.ctn-principal .ctn-main-page-information-text-text span {
  font-size: 12px;
  color: #c9c9dc;
}
.ctn-principal .ctn-main-page-information-text-text .span-encuentranos {
  color: #dbc3c3;
  font-size: 14px;
}
.ctn-principal .ctn-main-page-information-text-text .styleB {
  margin: 2px;
  padding: 1em 1.5em;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-weight: 500;
  color: #000;
  background-color: rgba(197, 190, 209, 0.6862745098);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}
.ctn-principal .ctn-main-page-information-text-text .styleB:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.ctn-principal .ctn-main-page-information-text-text .styleB:active {
  transform: translateY(-1px);
}
.ctn-principal .ctn-main-page-information-text-text .Faccebok:hover {
  background-color: #2323c4;
  box-shadow: 0px 15px 20px rgba(77, 46, 229, 0.4);
}
.ctn-principal .ctn-main-page-information-text-text .Instagram:hover {
  background-color: #8623c4;
  box-shadow: 0px 15px 20px rgba(165, 46, 229, 0.4);
}
.ctn-principal .ctn-main-page-information-text-text .Youtube:hover {
  background-color: #c42323;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
}
.ctn-principal .ctn-main-page-target {
  background: #081419;
  /*border: solid red;*/
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  display: grid;
  grid-template-areas: "grande mediano" "grande mediano" "grande mediano" "grande pequeno";
}
.ctn-principal .ctn-main-page-target-grande {
  /*border: solid #910dce;*/
  grid-area: grande;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 5em;
  margin-right: 1em;
  border-radius: 20px;
  border-radius: 50px;
  background: #081419;
  box-shadow: 20px 20px 60px #071115, -20px -20px 60px #09171d;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ctn-principal .ctn-main-page-target-grande-text {
  /*border: solid orange;*/
  margin: 2rem;
}
.ctn-principal .ctn-main-page-target-grande .target-text-tittle {
  font-size: 19px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #cfcfcf;
}
.ctn-principal .ctn-main-page-target-grande span {
  margin: 0.4rem;
  font-size: 11px;
  color: #cfcfcf;
  display: inline-block;
  vertical-align: top;
}
.ctn-principal .ctn-main-page-target-mediano {
  grid-area: mediano;
  /*border: solid red;*/
  margin-top: 3em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 5em;
  border-radius: 20px;
  background: #081419;
  box-shadow: 20px 20px 60px #071115, -20px -20px 60px #09171d;
  justify-content: left;
  align-items: center;
  display: flex;
}
.ctn-principal .ctn-main-page-target-mediano-text {
  /*border: solid orange;*/
  margin: 2rem;
}
.ctn-principal .ctn-main-page-target-mediano .target-text-tittle {
  font-size: 19px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #cfcfcf;
}
.ctn-principal .ctn-main-page-target-mediano span {
  margin: 0.4rem;
  font-size: 11px;
  color: #cfcfcf;
  display: inline-block;
  vertical-align: top;
}
.ctn-principal .ctn-main-page-target-pequeno {
  grid-area: pequeno;
  /*border: solid red;*/
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 5em;
  border-radius: 20px;
  background: #081419;
  box-shadow: 20px 20px 60px #071115, -20px -20px 60px #09171d;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.ctn-principal .ctn-main-page-target-pequeno-text {
  /*border: solid orange;*/
  margin: 2rem;
}
.ctn-principal .ctn-main-page-target-pequeno .target-text-tittle {
  font-size: 19px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #cfcfcf;
}
.ctn-principal .ctn-main-page-target-pequeno span {
  margin: 0.4rem;
  font-size: 11px;
  color: #cfcfcf;
  display: inline-block;
  vertical-align: top;
}
.ctn-principal .ctn-main-page-abouti {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.ctn-principal .ctn-main-page-abouti-items-1 {
  /*border: solid red;*/
  background: #081419;
  align-items: flex-end;
  display: flex;
  justify-content: left;
}
.ctn-principal .ctn-main-page-abouti-items-1-perfil {
  margin-left: 3em;
  margin-bottom: 3em;
  margin-right: 4em;
  margin-top: 2em;
  /*border: solid green;*/
}
.ctn-principal .ctn-main-page-abouti-items-1-perfil .abouti-title {
  font-size: 15px;
  letter-spacing: 6px;
  color: #cfcfcf;
}
.ctn-principal .ctn-main-page-abouti-items-1-perfil span {
  margin: 0.3rem;
  font-size: 10px;
  color: #a7a7a7;
  display: inline-block;
  vertical-align: top;
}
.ctn-principal .ctn-main-page-abouti-items-2 {
  /*border: solid red;*/
  background: #081419;
  align-items: flex-end;
  display: flex;
  justify-content: left;
}
.ctn-principal .ctn-main-page-abouti-items-2-perspectivas {
  /*border: solid green;*/
  margin-top: 4em;
  margin-left: 4em;
  margin-bottom: 3em;
  margin-right: 2em;
}
.ctn-principal .ctn-main-page-abouti-items-2-perspectivas .abouti-title {
  font-size: 15px;
  letter-spacing: 6px;
  color: #cfcfcf;
}
.ctn-principal .ctn-main-page-abouti-items-2-perspectivas span {
  margin: 0.3rem;
  font-size: 10px;
  color: #a7a7a7;
  display: inline-block;
  vertical-align: top;
}
.ctn-principal .ctn-main-page-linea {
  background: #080e11;
  /*border: solid red;*/
  align-items: center;
  justify-content: center;
  display: flex;
}
.ctn-principal .ctn-main-page-linea-content {
  /*border: solid green;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 5em;
  margin-bottom: 5em;
}
.ctn-principal .ctn-main-page-linea-content-items {
  /*border: solid blue;*/
  width: 250px;
  height: 250px;
  margin: 1em;
  background: #081419;
  border-radius: 250px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fffcfc;
  opacity: 0.7;
}
.ctn-principal .ctn-main-page-linea-content-items .items-title {
  font-size: 18px;
  text-transform: capitalize;
}
.ctn-principal .ctn-main-page-linea-content-items .items-text {
  font-size: 13px;
  color: #bebaba;
}
.ctn-principal .ctn-main-page-linea-content-items:hover {
  transition: 0.5s;
  background: #0b1519;
  color: #7568da;
  border-radius: 0px;
  opacity: 10;
}

@media (max-width: 1000px) {
  .ctn-principal {
    display: grid;
    grid-template-rows: 100%;
  }
  .ctn-principal .ctn-main {
    grid-template-rows: 100% 100% auto auto auto 50%;
  }
  .ctn-principal .ctn-main-page-welcome {
    grid-template-columns: 100% 0%;
  }
  .ctn-principal .ctn-main-page-welcome-text-title {
    margin-bottom: 2em;
    margin-left: 1em;
  }
  .ctn-principal .ctn-main-page-welcome-text-title span {
    color: white;
  }
  .ctn-principal .ctn-main-page-welcome-text-title .text-link {
    font-size: 9px;
    color: #d5d5d5;
  }
  .ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll-solid {
    padding-bottom: 3px;
    border-bottom: 1px solid #3f3fff;
    color: #3f3fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
  }
  .ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll {
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
    color: #937cdf;
    /*border: solid red;*/
  }
  .ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll::after {
    content: "";
    position: absolute;
    color: #3f3fff;
    background: #3f3fff;
    width: 100%;
    height: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
  }
  .ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll:hover:after {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.4s ease-in-out;
  }
  .ctn-principal .ctn-main-page-welcome-text-title .text-link .style-linkAll:hover {
    transition: 0.75s;
    color: #3f3fff;
    cursor: pointer;
  }
  .ctn-principal .ctn-main-page-welcome-text-title .title {
    font-size: 23px;
    font-weight: 300;
  }
  .ctn-principal .ctn-main-page-welcome-text-title .text-description {
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    line-height: 1.1em;
    margin-bottom: 14px;
  }
  .ctn-principal .ctn-main-page-information {
    height: 100%;
    /*border: solid red;*/
    background: linear-gradient(#081419, #0f1e24);
    display: grid;
    grid-template-columns: 0% 100%;
    /*div{
        border: solid white;
    }*/
  }
  .ctn-principal .ctn-main-page-information-text {
    /*border: solid green;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ctn-principal .ctn-main-page-information-text-text {
    width: 80%;
    color: white;
    /*border: solid red;*/
  }
  .ctn-principal .ctn-main-page-information-text-text .information-bienvenido {
    font-size: 18px;
  }
  .ctn-principal .ctn-main-page-information-text-text span {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    font-size: 9px;
    line-height: 1.1em;
    /*border: solid;*/
  }
  .ctn-principal .ctn-main-page-information-text-text .span-encuentranos {
    color: white;
    font-size: 9px;
  }
  .ctn-principal .ctn-main-page-information-text-text .styleB {
    margin: 2px;
    padding: 1em 1.5em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: 500;
    color: #000;
    background-color: rgba(197, 190, 209, 0.6862745098);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
  }
  .ctn-principal .ctn-main-page-information-text-text .styleB:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  .ctn-principal .ctn-main-page-information-text-text .styleB:active {
    transform: translateY(-1px);
  }
  .ctn-principal .ctn-main-page-information-text-text .Faccebok {
    padding: 0.8em 1em;
    font-size: 7px;
  }
  .ctn-principal .ctn-main-page-information-text-text .Faccebok:hover {
    background-color: #2323c4;
    box-shadow: 0px 15px 20px rgba(77, 46, 229, 0.4);
  }
  .ctn-principal .ctn-main-page-information-text-text .Instagram {
    padding: 0.8em 1em;
    font-size: 7px;
  }
  .ctn-principal .ctn-main-page-information-text-text .Instagram:hover {
    background-color: #8623c4;
    box-shadow: 0px 15px 20px rgba(165, 46, 229, 0.4);
  }
  .ctn-principal .ctn-main-page-information-text-text .Youtube {
    padding: 0.8em 1em;
    font-size: 7px;
  }
  .ctn-principal .ctn-main-page-information-text-text .Youtube:hover {
    background-color: #c42323;
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  }
  .ctn-principal .ctn-main-page-information-text-text .Whatsapp {
    padding: 0.8em 1em;
    font-size: 7px;
  }
  .ctn-principal .ctn-main-page-information-text-text .Linkedin {
    display: none;
  }
  .ctn-principal .ctn-main-page-target {
    /*border: solid red;*/
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .ctn-principal .ctn-main-page-target span {
    font-size: 8px;
    color: #cfcfcf;
  }
  .ctn-principal .ctn-main-page-target-grande {
    margin-left: 1em;
    margin-right: 1em;
  }
  .ctn-principal .ctn-main-page-target-mediano {
    margin-left: 1em;
    margin-right: 1em;
  }
  .ctn-principal .ctn-main-page-target-pequeno {
    margin-left: 1em;
    margin-right: 1em;
  }
  .ctn-principal .ctn-main-page-target .target-text-tittle {
    font-size: 15px;
    letter-spacing: 6px;
    color: #cfcfcf;
  }
  .ctn-principal .ctn-main-page-abouti {
    display: flex;
    flex-direction: column;
  }
  .ctn-principal .ctn-main-page-abouti-items-1-perfil {
    margin-left: 1em;
    margin-top: 4em;
    margin-bottom: 1em;
  }
  .ctn-principal .ctn-main-page-abouti-items-2-perspectivas {
    margin-top: 4em;
    margin-left: 1em;
  }
  .ctn-principal .ctn-main-page-linea-content-items {
    /*border: solid blue;*/
    width: 200px;
    height: 200px;
    border-radius: 200px;
    text-align: center;
  }
}

/*# sourceMappingURL=sass3.css.map */
