$colorFoter:linear-gradient(180deg,#051015);

.ctn-main{
    filter: blur(12px);
    transition: 0.7s;
}
.ctn-principal{
    position: absolute;
    background:#0e1519;
    width: 100%;
    height: 100%;
/*
    background:#0e1519;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 100% 100%;*/
    .ctn-main{
        height: 100%;
        width: 100%;
        position: absolute;
        /*border: solid red;*/
        display: grid;
        z-index: -1;

        
    }
    .ctn-footer{
        font-family: 'Courier New', Courier, monospace;
        background: $colorFoter;
        width: 100%;
        /*border: 1px solid red;*/
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &-content{
            position: absolute;  
            flex-wrap: wrap;
            /*border: solid green;*/
            width: 80%;
            display: flex;
            text-align: center;
            justify-content: center;
            color: white;
            &-social{
                margin: 1em;
                display: flex;
                gap: 2px;
                flex-direction: row;
                justify-content: center;
                gap: 8px;
                font-size: 20px;
                .effect:hover{
                    opacity: 2px;
                    cursor: pointer;
                    font-size: 29px;
                }
            }

            &-items{
                /*border: solid blue;*/
                span{
                    font-size: 12px;
                    
                }
                h1{
                    font-size: 22px;
                }
                
            }
        }

    }
    .ctn-copyright{
        background: #000;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 10px;
    }
}
