.content{
    font-family: Arial, sans-serif;
    display: inline-flex;
    flex-direction: column;

}
.typewriter .text {
    display: inline-flex;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    border-right: 10px solid #10a475;
    width: 0;
    animation: typing 3s steps(20) forwards, blink-caret 0.5s step-end infinite;
}
.typewriter{
    display: inline-flex;

}

@keyframes typing {
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color:  #134233;
    }
}