@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


$color: black;
$titulo: 'Jura', sans-serif;
$font-family: 'Jura', sans-serif;

*{
    padding: 0;
    margin: 0 ;
    font-family: 'Jura', sans-serif;
    /*user-select: none;*/
}
.ctn-principal{
    overflow-x: hidden;
}

.ctn-principal::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ctn-principal::-webkit-scrollbar-thumb {
    background: #253945;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ctn-principal::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.ctn-principal::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}