@use 'variables';
@use 'navbar3';
@use 'color_tv';
@use 'footer';
$colorFoter:linear-gradient(180deg,#051015);

.ctn-main{
    filter: blur(12px);
    transition: 0.7s;
}
.ctn-principal{
    position: absolute;
    background:#0e1519;
    width: 100%;
    height: 100%;
    .ctn-main{
        /*border: solid green;*/
        height: 100%;
        width: 100%;
        z-index: 12;
        .img{
            width: 100%;
            height: 100%;
            .ctn-main-autoridades{
                /*border:solid purple;*/
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items:center;
                &-image{
                    /*border:solid green;*/
                    background-image: url('../img/imagen.webp');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 600px;
                    height: 400px;
                    position: relative;
                }  
                &-text{
                    transition: 0.5s;
                    position: absolute;
                    background: black;
                    width: 300px;
                    height: 150px;
                    margin:auto;
                    bottom: -30px;
                    right: -30px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    &-content{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        gap: 20px;
                        margin: 8px;
                        .titulo_grande{
                            font-size: 25px;
                        }
                        .texto_grande{
                            font-size: 14px;
                            color: #74726f;
                        }
            
                    }
                    &:hover{
                        transition: 0.5s;
                        width: 300px;
                        height: 180px;
                        background:#0e0e0ed9;
                    }
                }
            }  
        }
    }
}

@media (max-width: 780px){
    .ctn-principal{
        .ctn-main{
            .img{
                .ctn-main-autoridades{
                    &-image{
                        width: 80%;
                        height: 400px;
                    }
                    &-text{
                        width: 200px;
                        height: 100px;
                        margin:auto;
                        bottom: 2em;
                        right: -2em;
                        color: white;
                        &-content{
                            gap: 5px;
                            .titulo_grande{
                                font-size: 1.9rem;
                            }
                            .texto_grande{
                                font-size: 1.2em;
                                color: #74726f;
                            }
                            
                        }
                    }
                }  
            }
        }
        
    }
    
}