@use 'variables';
@use 'navbar3';
@use 'color_tv';
@use 'footer';
$colornavbar: -webkit-gradient(linear,left bottom,left top,from(rgba(5, 16, 21, 0.775)),color-stop(80%,#051015dc));

.ctn-main{
    filter: blur(12px);
    transition: 0.7s;
}

.span-titulo{
    font-size: 16px;
    margin-top: 15px;
    
}
.span-description{
    font-size: 12px;
    text-transform: uppercase;
    color: #937cdf;
}
.button-ver{
    border: 1px solid white;
    color: #00ffad;
    background-color: transparent;
    padding: 2px 5px 2px 5px;
    font-size: 10px;
    font-weight: 500;
    &:hover{
        background: white;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        cursor: pointer;
    }
}
.list-integrantes{
    font-size: 12px;
    margin-left: 30px;
    color: white;
}
.ctn-principal{
    position: absolute;
    height: 100%;
    width: 100%;
    .ctn-main{
        /*border:solid red;*/
        height: 100%;
        width: 100%;
        .ctn-proyectos{
            /*border:solid green;*/
            height: 100%;
            width: 100%;
            .proyecto{
                /*border:solid purple;*/
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                .ctn-main-proyectos-part1{
                    width: 50%;
                    /*border: solid red;*/
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &-img{
                        /*border: solid rgb(238, 0, 91);*/
                        margin: 3em;
                        margin-top: 100px;
                        display:grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-template-rows: repeat(2,1fr);
                        gap: 10px;
                        img{
                            border-radius: 10px;
                            width: 100%;
                            height: auto;
                            opacity: 0.4;
                            filter: saturate(180%);
                            &:hover{
                                transition: 0.7;
                                opacity: 10;
                                cursor: grab;
                            }
                        }
                    }
                }
                .ctn-main-proyectos-part2{
                    width: 50%;
                    height: auto;
                    background:$colornavbar;
                    /*border: solid green;*/
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    &-ctn{
                        /*border: solid blue;*/
                        border-top: 1px solid #5e5a5a;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin-right: 6em;
                        margin-left: 5em;
                        &-text{
                            /*border: solid;*/
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            font-size: 12px;
                            color: #cdcbdd;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 900px){
    .ctn-principal{
        .ctn-main{
            .ctn-proyectos{
                .proyecto{
                    margin-top: 80px;
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                    .ctn-main-proyectos-part1{
                        width: 100%;
                        height: 170px;
                        /*border: solid red;*/
                        overflow-x: scroll;
                        overflow-y: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-img{
                            /*border: solid rgb(238, 0, 91);*/
                            display:flex;
                            gap: 10px;
                            width: 90%;
                            margin: 0em; 
                            margin-top: 0px;
                            img{
                                width: 100%;
                                height: 140px;
                                opacity: 0.4;
                                filter: saturate(180%);
                                &:hover{
                                    transition: 0.7;
                                    opacity: 10;
                                    cursor: grab;
                                }
                            }
                        }
                    }
                    .ctn-main-proyectos-part2{
                        width: 100%;
                        height: auto;
                        &-ctn{
                            border-top: 1px solid #5e5a5a;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            margin-right: 2em;
                            margin-left: 2em;
                            &-text{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                font-size: 1rem;
                                color: #cdcbdd;
                            }
                            .span-titulo{
                                font-size: 1.2rem;
                                margin-top: 15px;
                                
                            }
                            .span-description{
                                font-size: 1rem;
                                text-transform: uppercase;
                                color: #937cdf;
                            }
                        
                        }
                    }
    
                }
            }
        }
        .ctn-footer{
            height: 50%;
            font-family: 'Courier New', Courier, monospace;
            width: 100%;
            /*border: 1px solid red;*/
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            &-content{ 
                flex-wrap: wrap;
                /*border: solid green;*/
                width: 80%;
                display: flex;
                text-align: center;
                justify-content: center;
                color: white;
                &-social{
                    margin: 1em;
                    display: flex;
                    gap: 2px;
                    flex-direction: row;
                    justify-content: center;
                    gap: 8px;
                    font-size: 20px;
                    .effect:hover{
                        opacity: 2px;
                        cursor: pointer;
                        font-size: 29px;
                    }
                }
    
                &-items{
                    span{
                        font-size: 12px;
                        
                    }
                    h1{
                        font-size: 22px;
                    }  
                }
            }
    
        }
        .ctn-copyright{
            background: #000;
            color: white;
            text-align: center;
            padding: 5px;
            font-size: 10px;
        }
    }
    
}    