@use 'navbar3';
@use 'variables';
@use 'principal';
@use 'color_tv';
@use 'textE';


$fontstan:14px;
$fontstanres:11.5px;
$colorpage1:transparent;
$colorpage2: linear-gradient(90deg,#071115,#15252b);
$colorpage3:#10222a;
$colorpage4:#080e11;

$colorPage: #ffff;


@include navbar3.Button();

@mixin about-item{
   
        .abouti-title{
            font-size: 15px;
            letter-spacing: 6px;
            color:#cfcfcf;      
            
        }  
        span{
            margin: 0.3rem;
            font-size: $fontstan - 1;
            color: #a7a7a7;
            display: inline-block;
            vertical-align: top;
        }

}
@mixin card-page3($margin){
    transition:0.6s;
    &:hover{
        background: #0f1e24 ;
        transition: 0.6s;
    }
    &-text{
        /*border: solid orange;*/
        margin: $margin;
    }
    .target-text-tittle{       
        font-size: 22px;
        letter-spacing: 6px;
        text-transform: uppercase; 
        color:#fffcfc;  
    }
    span{
        margin: 0.4rem;
        font-size: $fontstan - 1;
        color: #9a9797;
        display: inline-block;
        vertical-align: top;
    }
}

.material-symbols-outlined{
    font-size: 9px;
}
a{
    text-decoration: none;  
}
li{
    list-style: none;
}


    /****** STYLES OF JAVASCRIPT*******************/
    .letter2{
        display: none;
    }
    h5{
        font-weight: 100;
        font-style: italic;
    }

    /******************************/  

.ctn-principal{
    .ctn-main{
        grid-template-rows: 100% 100% auto auto auto 50%;
        /*background-image: url('../img/unh.png');*/
        &-page-welcome{
            display: grid;
            grid-template-columns: 60% 40%;
            &-text{
                // border: solid red ;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-content: flex-start;
                &-title{
                    /*border: solid;*/
                    margin-left: 5em;
                    margin-bottom: 5em;

                    .text-link{

                        font-size: 12px;
                        color: #d5d5d5;
                        @include navbar3.StyleLink(#3f3fff,#937cdf);
                        .arrow{
                            font-size: 10px;
                            color: #937cdf;
                        }
                        .arrow:hover{
                            color: #3f3fff; 
                        }
                    }
                    .title{
                        color: #bfc7d2;  
                        font-size: 39px;
                        .blure1{
                            opacity: 0.5;
                            filter: blur(5px);
                        }
                        .blure2{
                            opacity: 0.5;
                            filter: blur(10px);
                        }
                    }
                    .letter2{
                        font-size: 15px;
                        color: #cbddf6; 
                        letter-spacing: 3px; 
                    }
                    .text-description{
                        display: inline-block;
                        font-size: ($fontstan - 1);
                        color: #808c9c;
                        margin-bottom: 20px;
                        margin-top: -15px;
                        width: 385px;
                    }

                    .text-button{
                        text-decoration: none;   
                    }
                    .text-button:hover{
                        color: black;
                        font-weight: 800;                        
                    }
                    h1{
                        font-weight: 100;
                    }
                }
            }
            &-image{
                // border: solid;
                color: $colorPage;
                
            }
        }
        &-page-information{
            z-index: 99;
            height: 100%;
            width: 100%;
            background:$colorpage2;
            display: grid;
            grid-template-columns: 100%;
            &-text{
                
                /*border:solid;*/
                /*background:#0f1e24;*/
                display: flex;
                justify-content: center;
                align-items: center;

                video{
                    border: solid red;
                    position: absolute;
                    z-index: -10;
                }
                &-text{
                    /*border:solid salmon;*/
                    color: #cfcfcf;
                    margin-top: 3em;
                    margin-bottom: 3em;
                    margin-right: 4em;
                    margin-left: 4em;
                    text-align: center;
                    .cambia1{
                        text-align: center;
                        /*.ctn_message{
                            border: solid beige;
                        }*/
                    }
                    
                    .information-bienvenido{
                        font-size: 40px;
                        font-weight: 100;
                    }
                    span{
                        font-size: $fontstan - 1;
                        h1{
                            font-weight: 100;
                            font-size: 14px;
                        }
                    }

                    
                    .span-encuentranos{
                        color: #dbc3c3;
                        font-size: 14px;
                    }
                    @include navbar3.Button2();
                    .Faccebok{
                        &:hover{
                            background-color: #2323c4;
                            box-shadow: 0px 15px 20px #4d2ee566;
                        } 
                    }
                    .Instagram{
                        &:hover{
                            background-color: #8623c4;
                            box-shadow: 0px 15px 20px #a52ee566;
                        } 
                    }
                    .Youtube{
                        &:hover{
                            background-color: #c42323;
                            box-shadow: 0px 15px 20px #e52e2e66;
                        } 
                    }   
                }
            }       
        }
        &-page-target{
            background: $colorpage3;
            /*border: solid red;*/
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            display: grid;
            grid-template-areas: "grande mediano"
                                 "grande mediano"
                                 "grande pequeno";

            
            &-grande{
                /*border: solid #910dce;*/
                grid-area: grande;
                margin-top: 3em;
                margin-bottom: 3em;
                margin-left: 5em;
                margin-right: 1em;
                border-radius: 20px;
                background: #081419;
                box-shadow:  20px 20px 60px #071115,
                -20px -20px 60px #09171d;
                justify-content: center;
                align-items: center;
                display: flex;
                @include card-page3(1rem);
                &:active{
                    opacity: 0.5;
                }
                
            }
            
            &-mediano{
                
                grid-area: mediano; 
                /*border: solid red;*/
                margin-top: 3em;
                margin-bottom: 1em;
                margin-left: 1em;
                margin-right: 5em;
                border-radius: 20px;
                background: #081419;
                box-shadow:  20px 20px 60px #071115,
                -20px -20px 60px #09171d;
                justify-content: left;
                align-items: center;
                display: flex;
                
                @include card-page3(1em);
                &:active{
                    opacity: 0.5;
                }
            }
            &-pequeno{
                grid-area: pequeno;
                /*border: solid red;*/
                margin-top: 1em;
                margin-bottom: 3em;
                margin-left: 1em;
                margin-right: 5em;
                border-radius: 20px;
                background: #081419;
                box-shadow:  20px 20px 60px #071115,
                -20px -20px 60px #09171d;
                
                justify-content: left;
                align-items: center;
                display: flex;
                flex-wrap: wrap;

                @include card-page3(1em);
                &:active{
                    opacity: 0.5;
                }



            }            
        }
        &-page-abouti{ 
            width: 99.7%;
            height: 100%; 
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 4px;
            &-items-1{
                /*border: solid red;*/
                background: #081419;
                align-items: flex-end;
                display: flex;
                justify-content: left;
                &-perfil{
                    margin-left: 3em;
                    margin-bottom: 3em;
                    margin-right: 4em;
                    margin-top: 2em;
                    
                    /*border: solid green;*/
                    @include about-item();
                }    
            }
            &-items-2{
                /*border: solid rgb(46, 15, 157);*/
                background: #081419; 
                &-perspectivas{
                    /*border: solid green;*/
                    margin-left: 4em;
                    margin-right: 2em;
                    margin-top: 2em;
                    margin-bottom: 2em;
                    color:#a7a7a7;
                    @include about-item();

                }
                

            }
            
        }
        &-page-linea{
            background: $colorpage4;
            /*border: solid red;*/
            align-items: center;
            justify-content: center;
            display: flex;
            &-content{
                /*border: solid green;*/
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                flex-direction: row;
                margin-top: 5em;
                margin-bottom: 5em;
                .titulo_img{
                    background-image:url("../img/titulo2.jpg");
                    background-position:center;
                    background-size:cover;
                    fil
                    &:hover{
                        transition: 1s;  
                    }
                }
                .estudiantes_img{
                    
                    background-image:url("../img/estudiantes.jpg");
                    background-position:center;
                    background-size:cover;
                   
                    &:hover{
                        transition: 1s;  
                        filter: contrast(20px);
                    }

                }
                .sede_img{
                    background-image:url("../img/sede.jpg");
                    background-position:center;
                    background-size:cover;
                    &:hover{
                        transition: 1s;  
                        filter: contrast(20px);
                    }
                }
                .grado_img{
                    background-image:url("../img/estudiantes.jpg");
                    background-position:center;
                    background-size:cover;
                    &:hover{
                        transition: 1s;  
                        filter: contrast(20px);
                    }

                }
                &-items{
                    transition: 0.90s;
                    /*border: solid blue;*/
                    width: 250px;
                    height: 250px;
                    margin: 1em;
                    border-radius: 250px;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: #fffcfc;
                    opacity: 0.7;
                    
                    .items-title{
                        background:#000000ab;
                        font-size: 20px;
                        text-transform: capitalize;
                    }
                    .items-text{
                        font-size: 14px;
                        background:#000000a1;
                        color: #ffffff;
                        font-size: 100;
                    }
                    &:hover{
                        transition: 0.5s;
                        color: #aea6e6;
                        border-radius: 20px;
                        opacity: 10;
                    }
                
                    
                }
            }
        }

        }
        
    }

    

    @media (max-width: 1000px){
    
        .ctn-principal{
            display: grid;
            grid-template-rows: 100%;
            .ctn-main{
                grid-template-rows: 100% auto auto auto auto 50%;
            &-page-welcome{
    
            grid-template-columns: 100% 0%;
                &-text-title{
                    margin-bottom: 2em;
                    margin-left: 1em;
                    
                .text-link{
                    font-size: 9px;
                    @include navbar3.StyleLink(#3f3fff,#937cdf);
                }
    
                .title{
                    color: #bfc7d2;  
                    font-size: 29px;
                }
                .letter2{
                    font-size: 12px;
                    color: #cbddf6; 
                    letter-spacing: 2px; 
                }

                .text-description{
                    display: inline-block; 
                    vertical-align: top;
                    font-size: $fontstanres;
                    line-height: 1.1em;
                    margin-bottom: 14px;
                    margin-right: 14px;
                    margin-top: -10px;
                    width: 280px;
                }
                }
            }
            &-page-target{
                /*border: solid red;*/
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(6,1fr);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 0px;
            span{
                font-size: $fontstanres;
            }
            &-grande{
                margin-left: 1em;
                margin-right: 1em;  
                margin-bottom: 0em;
  
                &-text{
                    margin: 1.5em;
                }
            }
            &-mediano{
            
                margin-left: 1em;
                margin-right: 1em;
                margin-bottom: 0em;  
                margin-top: 1em;  
                &-text{
                    margin: 1.5em;
                }
                
            }
            &-pequeno{
                margin-left: 1em;
                margin-right: 1em;  
                margin-bottom: 0.5em;  
                margin-top: 1em;  
                width: 100%;
                &-text{
                    margin: 1.5em;
                }
            }
            .target-text-tittle{
                font-size: 15px;
                letter-spacing: 6px;
            }
            }
            &-page-abouti{
                display: flex;
                flex-direction: column;
                
                &-items-1{
                    &-perfil{
                        margin-left: 1em;
                        margin-top:  4em;
                        margin-bottom: 1em;
                        span{
                            font-size: 12px;
                        }
                    }
                }
                &-items-2{
                    &-perspectivas{
                        margin-top:  4em;
                        margin-left: 1em;
                        span{
                            font-size: 12px;
                        }
                    }

                }
            }
            &-page-linea{
                &-content{
                    margin-top: 1em; 
                    margin-bottom: 1em; 

                    &-items{
                        /*border: solid blue;*/
                        width: 160px;
                        height: 160px;
                        border-radius: 200px;
                        text-align: center;
                        margin: 0.5em;

                        
                        .items-title{
                            font-size: 14px;
                            text-transform: capitalize;
                        }
                        .items-text{
                            font-size: 12px;
                            color: #bebaba;
                        }
                        &:hover{
                            transition: 0.5s;
                            background: #0b1519;
                            color: #7568da;
                            border-radius: 0px;
                            opacity: 10;
                        }
                    
                        
                    }
                }
            }
            }
        }
    }