@use 'variables';
@use 'navbar3';
@use 'principal';
@use 'color_tv';


hr{
    border: 1px solid #c7c1c1e3;
}

.ctn-principal{
    .ctn-main{
        grid-template-rows:100% 100% 100% 50%;   
        &-visionmision{
            /*border: solid red;*/
            border-bottom: 3px solid #1a1828;
            color: white;
            display: grid;
            grid-template-columns: 40% 60%;
            .img{
                
                background-position:center;
                background-size:cover;
                background-repeat:repeat-x;

            }
            &-image1{
                background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.791),
                rgba(0, 0, 0, 0.744)
              ),
          url("../img/1vision.jpg");
            }
            &-image2{
                background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.934),
                rgba(0, 0, 0, 0.744)
              ),
          url("../img/2mision.jpg");
            }
            &-image3{
                background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.934),
                rgba(0, 0, 0, 0.744)
              ),
          url("../img/3objetivos.jpg");
            }
            &-text{
                /*border: solid;*/
                display: flex;
                justify-content: center;
                align-items: center;
                &-content{
                    width: 70%;
                    /*border: solid greenyellow;*/
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 5px;
                    .title_grande{
                        font-size: 35px;
                        font-weight: 400;
                        color: bisque;
                        text-transform: capitalize;
                    }
                    .title_sub{
                        font-size: 12px;
                        color: #767778;
                    }
                    .texto_grande{
                        font-size: 16px;
                        color: rgb(189, 189, 180);
                    }
                }


            }
        }
    }
}

@media (max-width: 1000px){
    .ctn-principal{
    .ctn-main{ 
        background-image: red;
        &-visionmision{
            display: grid;
            grid-template-columns: 0% 100%;
            &-image{
            }
            &-text{
                &-content{
                    
                    .title_grande{
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                    .title_sub{
                        font-size: 9px;
                        color: #858c91;
                    }
                    .texto_grande{
                        font-size: 11px;
                        color: white;
                    }
                }


            }
        }
    }
}


}