@use 'navbar';
@use 'variables';



.ctn-principal{
    /*
    display: grid;
    grid-template:      "header" 80px
                        "main"  300%
                        "footer" 300px;
                        */
    .ctn-main{
        /*border: solid gold;
        grid-area: main;
        display: flex;
        flex-direction: column;*/
        
        &-page-welcome{
            background:linear-gradient(#181825,#1b1252);
            height: 70%;
            
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;

            &-text{
                /*border: solid white;*/
                width: 40%;
            }
            &-image{
                /*border: solid white;*/
                width: 60%;
                
            }
        }
        &-page-information{
            @include variables.PageElements(green);
            display: grid;
            grid-template: "title title" 100px
                                 "text  image" auto
                                 "text  image" auto;
            
            &-title{
                border: solid white;
                grid-area: title;
            }
            &-text{
                border: solid white;
                grid-area: text;
            }
            &-image{
                border: solid white;
                grid-area: image;
            }
        }
        &-page-target{
            @include variables.PageElements(blue);
            display: grid; 
            grid-template:       "title    title   title" 100px
                                 "target1  target2 target3" auto;
            
            &-title{
                border: solid white;
                grid-area: title;
            }
            &-target1{
                border: solid white;
                grid-area: target1;
            }
            &-target2{
                border: solid white;
                grid-area: target2;
            }
            &-target3{
                border: solid white;
                grid-area: target3;
            }

        }
        &-page-abouti{
            @include variables.PageElements(purple);
            display: grid;
            grid-template:       "title    title" 100px
                                 "target1  target2" auto;
            
            &-title{
                grid-area: title;
                border: solid white;
            }
            &-target1{
                grid-area: target1;
                border: solid white;
            }
            &-target2{
                grid-area: target2;
                border: solid white;
            }
        }
        &-page-linea{
            @include variables.PageElements(gray);
            display: grid;
            grid-template:       "title" 100px
                                 "circles" auto;
            
            &-title{
                grid-area: title;
                border: solid white;
            }  
            &-circles{
                grid-area: circles;
                border: solid white;
            }
        }
    }
    .ctn-footer{
        background: black;
        grid-area: footer;
        display: grid;
        grid-template:       "title lista2" 100px
                             "lista1 lista2" auto;
        &-title{
            grid-area: title;
            border: solid white;
            @include variables.Centrear();
        }
        &-lista1{
            grid-area: lista1;
            border: solid white;

        }
        &-lista2{
            grid-area: lista2;
            border: solid white;
        }
    }

}

@media (max-width:764px) {

}