@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Jura", sans-serif;
}

.ctn-principal::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ctn-principal::-webkit-scrollbar-thumb {
  background: #5d5d5d;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ctn-principal::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.ctn-principal::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.ctn-principal {
  display: grid;
  grid-template: "main" 350% "footer" 300px;
}
.ctn-principal .ctn-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#181825, #1b1252);
}
.ctn-principal .ctn-footer {
  grid-area: footer;
  background: blue;
}

html {
  height: 100%;
}

body {
  min-height: 150%;
}

.style-linkAll-solid {
  padding-bottom: 3px;
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}

.style-linkAll {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  color: #b0b0b0;
  /*border: solid red;*/
}

.style-linkAll::after {
  content: "";
  position: absolute;
  color: #8e8e8e;
  background: #8e8e8e;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover:after {
  color: white;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover {
  transition: 0.75s;
  color: white;
}

.ctn-header {
  position: fixed;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  z-index: 99;
  background: transparent;
  grid-area: header;
  display: grid;
  grid-template-columns: 3% 57% 37% 3%;
}
.ctn-header .space2 {
  /* border: solid #0055ff; */
}
.ctn-header-logo {
  /*border: solid $color;*/
}
.ctn-header-logo .ctn-header-logo-item-1 {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  font-size: 25px;
}
.ctn-header-logo .ctn-header-logo-item-1 .span-epis {
  color: blue;
}
.ctn-header-logo .ctn-header-logo-item-1 .span-unh {
  color: white;
}
.ctn-header-items {
  /*border: solid $color;*/
  display: flex;
}
.ctn-header-items-1 {
  /*border: solid white;*/
  display: flex;
  justify-content: right;
  align-items: center;
}
.ctn-header-items-1 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 20px;
  margin-right: 20px;
}
.ctn-header-items-2 {
  /*border: solid white;*/
  display: flex;
  justify-content: right;
  align-items: center;
}
.ctn-header-items-2 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 20px;
  margin-right: 20px;
}
.ctn-header-items-2 .ctn-header-options {
  background-color: white;
  width: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 235px;
  margin-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}
.ctn-header-items-2 .ctn-header-options span {
  background: #0055ff;
  padding: 5px;
  margin: 2px;
}
.ctn-header-items-3 {
  /*border: solid white;*/
  display: flex;
  justify-content: right;
  align-items: center;
}
.ctn-header-items-3 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 20px;
  margin-right: 20px;
}
.ctn-header-items-4 {
  /*border: solid white;*/
  display: flex;
  justify-content: right;
  align-items: center;
}
.ctn-header-items-4 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 20px;
  margin-right: 20px;
}
.ctn-header-items-5 {
  /*border: solid white;*/
  display: flex;
  justify-content: right;
  align-items: center;
}
.ctn-header-items-5 .link-item-1 {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 20px;
  margin-right: 20px;
}
.ctn-header-items-5 button {
  background: linear-gradient(90deg, blue, purple);
  border-radius: 50px;
  border: none;
  padding: 10px;
}
.ctn-header-items-5 .link-item-1 {
  color: white;
}
.ctn-header-items .navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .ctn-header-items .navbar .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px;
    color: #fff;
  }
}

.ctn-principal {
  display: grid;
  grid-template: "main" 140% "footer" 300px;
}
.ctn-principal .ctn-main {
  background: black;
}
.ctn-principal .ctn-main-page-contacto {
  height: 70%;
  background: #00fff2;
}
.ctn-principal .ctn-main-page-maps {
  height: 70%;
  background: #cd3f8b;
}
.ctn-principal .ctn-footer {
  background: black;
}

/*# sourceMappingURL=contacto.css.map */
