@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
* {
  font-family: "Jura", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}

html {
  font-size: 10px;
  /*font-size: calc(14px + (22 - 14) * ((100vw - 812px)/ (2800 - 812)));*/
}

.ctn-principal {
  overflow-x: hidden;
}

.ctn-principal::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ctn-principal::-webkit-scrollbar-thumb {
  background: #253945;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ctn-principal::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.ctn-principal::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

body {
  background: #0e1519;
}

header {
  /*border:solid red;*/
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 16, 21, 0.775)), color-stop(80%, rgba(5, 16, 21, 0.862745098)));
  width: 100%;
  color: white;
}
header li {
  list-style: none;
  color: #aaa9a9;
}

nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 40px;
  font-size: 1.5rem;
}

span {
  cursor: pointer;
}

.button {
  background: black;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 10px;
  color: white;
}
.button:hover {
  transition: 1s;
  background: white;
  color: black;
  font-weight: 800;
  cursor: pointer;
}
.button:active {
  opacity: 0.5;
}

.button-solid {
  background: linear-gradient(#1c1c9a, #090234);
}
.button-solid:hover {
  transition: 1s;
  background: linear-gradient(90deg, #090234, #1c1c9a);
}

a {
  text-decoration: none;
}

h6 {
  font-weight: 100;
}

.style-linkAll-solid {
  padding-bottom: 3px;
  border-bottom: 1px solid #dbdada;
  color: #dbdada;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.style-linkAll {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  color: #aaa9a9;
  /*border: solid red;*/
}

.style-linkAll::after {
  content: "";
  position: absolute;
  color: #dbdada;
  background: #dbdada;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover:after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover {
  transition: 0.75s;
  color: #dbdada;
  cursor: pointer;
}

.ctn-header-logo {
  margin-left: 40px;
  display: flex;
  align-items: center;
  /*border:solid red;*/
}
.ctn-header-logo-item-1 {
  height: 100%;
  width: 100px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  /*border:solid green;*/
  background-image: url("../img/episunh_logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  opacity: 0;
  filter: blur(4px);
  align-items: center;
}
.ctn-header-logo-item-1 .span-epis {
  color: #3131fe;
}
.ctn-header-logo-item-1 .span-unh {
  color: #e4e4e4;
}

.content_menu {
  display: none;
}

.content_hello {
  /*border: solid blue;*/
  height: 100%;
  margin-right: 14px;
}
.content_hello .centreado {
  /*border: solid red;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_hello-titulo {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  /*border:solid green;*/
  width: 90px;
  padding-top: 10px;
  padding-right: 10px;
}
.content_hello-titulo2 {
  padding-right: 50px;
}
.content_hello-items {
  display: none;
  flex-direction: column;
  border: 1px solid #1e1e26;
  background: #161515;
  position: absolute;
  border-radius: 15px;
  padding: 0rem;
  padding-bottom: 4px;
  padding-top: 4px;
}
.content_hello-items1 {
  padding: 0.6em;
  /*border: 1px solid #ff0202;*/
  text-align: left;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
}
.content_hello-items1:hover {
  background: #241c39;
  cursor: pointer;
  transition: 0.75s;
  color: white;
}
.content_hello-items1-solid {
  background: #48396f;
}

.panel-menu-items {
  display: none;
}

@media (max-width: 1000px) {
  a {
    /*color: #aaa9a9;*/
    text-decoration: none;
    cursor: none;
  }
  header {
    height: 80px;
  }
  .panel-menu-items {
    /*border: solid red;*/
    margin-left: -2000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: #182931;
    z-index: 9999;
    margin-top: 80px;
    font-family: 23px;
    color: #6f6a6a;
  }
  .panel-menu-items .nav-menu .ul-menu {
    /*border: solid red;*/
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option {
    display: flex;
    flex-direction: column;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span {
    /*border: solid;*/
    color: #6f6a6a;
    padding: 1em;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span:active {
    opacity: 0.5;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span-solid {
    color: #ffffff;
    text-decoration: dashed;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-ctn-items {
    /*border: solid red;*/
    display: none;
    flex-direction: column;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1 {
    /*border: solid blue;*/
    /*background:linear-gradient(#221b36,#231c35);*/
    font-size: 12px;
    border-radius: 0px 50px 50px 0px;
    padding: 1em;
    padding-left: 2em;
    margin: 5px;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1:hover {
    color: white;
    text-decoration: line-through;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1 a {
    color: #a29696;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1-solid a {
    color: #ffffff;
    text-decoration: line-through;
  }
  nav {
    display: none;
  }
  .content_menu {
    height: 100%;
    /*border:solid red;*/
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_menu:active {
    opacity: 0.1;
    background: #202e36;
  }
  .content_menu .menu {
    /*background:url("../svg/drag_handle_white_24dp.svg");*/
    background: url("../svg/drag_handle_white_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 100%;
    /*border:solid red;*/
  }
  .content_menu .close {
    background: url("../svg/close_white_18dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 100%;
    display: none;
  }
  .ctn-header-logo {
    /*border:solid green;*/
    margin-left: 1.5em;
  }
  .ctn-header-logo-item-1 {
    height: 100%;
    font-size: 19px;
  }
}
.ctn_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ctn_bg2 {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.bg {
  border: solid green;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.ctn-footer {
  height: 50%;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.ctn-footer-content {
  flex-wrap: wrap;
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  position: absolute;
  z-index: 6;
}
.ctn-footer-content-social {
  margin: 1em;
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  /*border:solid red;*/
}
.ctn-footer-content-social .effect:hover {
  opacity: 2px;
  cursor: pointer;
  font-size: 29px;
  /*border:solid red;*/
}
.ctn-footer-content-items span {
  font-size: 12px;
}
.ctn-footer-content-items h1 {
  font-size: 22px;
}

.ctn-copyright {
  background: #000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.ctn-main {
  filter: blur(12px);
  transition: 0.7s;
}

.ctn-principal {
  position: absolute;
  background: #0e1519;
  width: 100%;
  height: 100%;
}
.ctn-principal .ctn-main {
  /*border: solid green;*/
  height: 100%;
  width: 100%;
  z-index: 12;
}
.ctn-principal .ctn-main .img {
  width: 100%;
  height: 100%;
}
.ctn-principal .ctn-main .img .ctn-main-autoridades {
  /*border:solid purple;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main .img .ctn-main-autoridades-image {
  /*border:solid green;*/
  background-image: url("../img/imagen.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
  position: relative;
}
.ctn-principal .ctn-main .img .ctn-main-autoridades-text {
  transition: 0.5s;
  position: absolute;
  background: black;
  width: 300px;
  height: 150px;
  margin: auto;
  bottom: -30px;
  right: -30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main .img .ctn-main-autoridades-text-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: 8px;
}
.ctn-principal .ctn-main .img .ctn-main-autoridades-text-content .titulo_grande {
  font-size: 25px;
}
.ctn-principal .ctn-main .img .ctn-main-autoridades-text-content .texto_grande {
  font-size: 14px;
  color: #74726f;
}
.ctn-principal .ctn-main .img .ctn-main-autoridades-text:hover {
  transition: 0.5s;
  width: 300px;
  height: 180px;
  background: rgba(14, 14, 14, 0.8509803922);
}

@media (max-width: 780px) {
  .ctn-principal .ctn-main .img .ctn-main-autoridades-image {
    width: 80%;
    height: 400px;
  }
  .ctn-principal .ctn-main .img .ctn-main-autoridades-text {
    width: 200px;
    height: 100px;
    margin: auto;
    bottom: 2em;
    right: -2em;
    color: white;
  }
  .ctn-principal .ctn-main .img .ctn-main-autoridades-text-content {
    gap: 5px;
  }
  .ctn-principal .ctn-main .img .ctn-main-autoridades-text-content .titulo_grande {
    font-size: 1.9rem;
  }
  .ctn-principal .ctn-main .img .ctn-main-autoridades-text-content .texto_grande {
    font-size: 1.2em;
    color: #74726f;
  }
}

/*# sourceMappingURL=autoridades2.css.map */
