@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
* {
  font-family: "Jura", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}

html {
  font-size: 10px;
  /*font-size: calc(14px + (22 - 14) * ((100vw - 812px)/ (2800 - 812)));*/
}

.ctn-principal {
  overflow-x: hidden;
}

.ctn-principal::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ctn-principal::-webkit-scrollbar-thumb {
  background: #253945;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ctn-principal::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.ctn-principal::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

body {
  background: #0e1519;
}

header {
  /*border:solid red;*/
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 16, 21, 0.775)), color-stop(80%, rgba(5, 16, 21, 0.862745098)));
  width: 100%;
  color: white;
}
header li {
  list-style: none;
  color: #aaa9a9;
}

nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 40px;
  font-size: 1.5rem;
}

span {
  cursor: pointer;
}

.button {
  background: black;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 10px;
  color: white;
}
.button:hover {
  transition: 1s;
  background: white;
  color: black;
  font-weight: 800;
  cursor: pointer;
}
.button:active {
  opacity: 0.5;
}

.button-solid {
  background: linear-gradient(#1c1c9a, #090234);
}
.button-solid:hover {
  transition: 1s;
  background: linear-gradient(90deg, #090234, #1c1c9a);
}

a {
  text-decoration: none;
}

h6 {
  font-weight: 100;
}

.style-linkAll-solid {
  padding-bottom: 3px;
  border-bottom: 1px solid #dbdada;
  color: #dbdada;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.style-linkAll {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  color: #aaa9a9;
  /*border: solid red;*/
}

.style-linkAll::after {
  content: "";
  position: absolute;
  color: #dbdada;
  background: #dbdada;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover:after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover {
  transition: 0.75s;
  color: #dbdada;
  cursor: pointer;
}

.ctn-header-logo {
  margin-left: 40px;
  display: flex;
  align-items: center;
  /*border:solid red;*/
}
.ctn-header-logo-item-1 {
  height: 100%;
  width: 100px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  /*border:solid green;*/
  background-image: url("../img/episunh_logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  opacity: 0;
  filter: blur(4px);
  align-items: center;
}
.ctn-header-logo-item-1 .span-epis {
  color: #3131fe;
}
.ctn-header-logo-item-1 .span-unh {
  color: #e4e4e4;
}

.content_menu {
  display: none;
}

.content_hello {
  /*border: solid blue;*/
  height: 100%;
  margin-right: 14px;
}
.content_hello .centreado {
  /*border: solid red;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_hello-titulo {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  /*border:solid green;*/
  width: 90px;
  padding-top: 10px;
  padding-right: 10px;
}
.content_hello-titulo2 {
  padding-right: 50px;
}
.content_hello-items {
  display: none;
  flex-direction: column;
  border: 1px solid #1e1e26;
  background: #161515;
  position: absolute;
  border-radius: 15px;
  padding: 0rem;
  padding-bottom: 4px;
  padding-top: 4px;
}
.content_hello-items1 {
  padding: 0.6em;
  /*border: 1px solid #ff0202;*/
  text-align: left;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
}
.content_hello-items1:hover {
  background: #241c39;
  cursor: pointer;
  transition: 0.75s;
  color: white;
}
.content_hello-items1-solid {
  background: #48396f;
}

.panel-menu-items {
  display: none;
}

@media (max-width: 1000px) {
  a {
    /*color: #aaa9a9;*/
    text-decoration: none;
    cursor: none;
  }
  header {
    height: 80px;
  }
  .panel-menu-items {
    /*border: solid red;*/
    margin-left: -2000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: #182931;
    z-index: 9999;
    margin-top: 80px;
    font-family: 23px;
    color: #6f6a6a;
  }
  .panel-menu-items .nav-menu .ul-menu {
    /*border: solid red;*/
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option {
    display: flex;
    flex-direction: column;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span {
    /*border: solid;*/
    color: #6f6a6a;
    padding: 1em;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span:active {
    opacity: 0.5;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span-solid {
    color: #ffffff;
    text-decoration: dashed;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-ctn-items {
    /*border: solid red;*/
    display: none;
    flex-direction: column;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1 {
    /*border: solid blue;*/
    /*background:linear-gradient(#221b36,#231c35);*/
    font-size: 12px;
    border-radius: 0px 50px 50px 0px;
    padding: 1em;
    padding-left: 2em;
    margin: 5px;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1:hover {
    color: white;
    text-decoration: line-through;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1 a {
    color: #a29696;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1-solid a {
    color: #ffffff;
    text-decoration: line-through;
  }
  nav {
    display: none;
  }
  .content_menu {
    height: 100%;
    /*border:solid red;*/
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_menu:active {
    opacity: 0.1;
    background: #202e36;
  }
  .content_menu .menu {
    /*background:url("../svg/drag_handle_white_24dp.svg");*/
    background: url("../svg/drag_handle_white_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 100%;
    /*border:solid red;*/
  }
  .content_menu .close {
    background: url("../svg/close_white_18dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 100%;
    display: none;
  }
  .ctn-header-logo {
    /*border:solid green;*/
    margin-left: 1.5em;
  }
  .ctn-header-logo-item-1 {
    height: 100%;
    font-size: 19px;
  }
}
.ctn-main {
  filter: blur(12px);
  transition: 0.7s;
}

.ctn-principal {
  position: absolute;
  background: #0e1519;
  width: 100%;
  height: 100%;
  /*
      background:#0e1519;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-rows: 100% 100%;*/
}
.ctn-principal .ctn-main {
  height: 100%;
  width: 100%;
  position: absolute;
  /*border: solid red;*/
  display: grid;
  z-index: -1;
}
.ctn-principal .ctn-footer {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(180deg, #051015);
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ctn-principal .ctn-footer-content {
  position: absolute;
  flex-wrap: wrap;
  /*border: solid green;*/
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.ctn-principal .ctn-footer-content-social {
  margin: 1em;
  display: flex;
  gap: 2px;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
}
.ctn-principal .ctn-footer-content-social .effect:hover {
  opacity: 2px;
  cursor: pointer;
  font-size: 29px;
}
.ctn-principal .ctn-footer-content-items {
  /*border: solid blue;*/
}
.ctn-principal .ctn-footer-content-items span {
  font-size: 12px;
}
.ctn-principal .ctn-footer-content-items h1 {
  font-size: 22px;
}
.ctn-principal .ctn-copyright {
  background: #000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.ctn_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ctn_bg2 {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.bg {
  border: solid green;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.panel {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6745098039);
  display: none;
  justify-content: center;
  align-items: center;
}
.panel-exit {
  /*border: solid green;*/
  align-self: flex-start;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  position: absolute;
  margin-right: 2em;
  margin-top: 1em;
  font-size: 28px;
}
.panel-exit .button_text {
  border: none;
  background: white;
  color: black;
  padding: 0.8em 1.2em 0.8em 1.2em;
  border-radius: 50px;
}
.panel-exit .button_text:hover {
  opacity: 0.5;
}
.panel-video {
  /*border: solid gold;*/
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.panel-video iframe {
  border: none;
}

.text-link {
  font-size: 12px;
  color: #d5d5d5;
}
.text-link .style-linkAll-solid {
  padding-bottom: 3px;
  border-bottom: 1px solid #6767c4;
  color: #6767c4;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.text-link .style-linkAll {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  color: #767281;
  /*border: solid red;*/
}
.text-link .style-linkAll::after {
  content: "";
  position: absolute;
  color: #6767c4;
  background: #6767c4;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.text-link .style-linkAll:hover:after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}
.text-link .style-linkAll:hover {
  transition: 0.75s;
  color: #6767c4;
  cursor: pointer;
}
.text-link .arrow {
  font-size: 10px;
  color: #937cdf;
}
.text-link .arrow:hover {
  color: #3f3fff;
}

.ctn-principal .ctn-main {
  grid-template-rows: 100% 100% 100% 100% auto 50%;
}
.ctn-principal .ctn-main-bienestar {
  /*border: solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main-bienestar-ctn {
  margin-top: 50px;
  overflow: hidden;
  color: white;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ctn-principal .ctn-main-bienestar-ctn .ctn_img_dentro {
  width: 80%;
  height: 80%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.ctn-principal .ctn-main-bienestar-ctn .ctn_img_dentro .img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
  z-index: -3;
  filter: blur(2px);
}
.ctn-principal .ctn-main-bienestar-ctn .ctn_img_dentro .img_dentro {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.576)), url("../img/bienestar1.webp");
}
.ctn-principal .ctn-main-bienestar-ctn .ctn_img_dentro .img_dentro2 {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.576)), url("../img/bienestar2.jpeg");
}
.ctn-principal .ctn-main-bienestar-ctn .ctn_img_dentro .img_dentro3 {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.576)), url("../img/bienestar3.webp");
}
.ctn-principal .ctn-main-bienestar-ctn .ctn_img_dentro .img_dentro4 {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.576)), url("../img/bienestar4.webp");
}
.ctn-principal .ctn-main-bienestar-ctn .ctn_img_dentro .img_dentroEffect {
  padding: 80px;
  margin-left: -80px;
  margin-top: -80px;
  transform: rotate(-7deg);
  transition: 0.5s;
}
.ctn-principal .ctn-main-bienestar-ctn-titulo {
  /*border: solid green;*/
  margin: 2em;
  font-size: 2.3rem;
}
.ctn-principal .ctn-main-bienestar-ctn-play {
  /*border: solid blue;*/
  font-size: 1.7rem;
  margin: 2em;
  display: grid;
  grid-template-columns: 40% 60%;
}
.ctn-principal .ctn-main-bienestar-ctn-play-play {
  /*border: solid skyblue;*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}
.ctn-principal .ctn-main-bienestar-ctn-play-play-ctn {
  padding: 20px;
  background: #0c1e26;
}
.ctn-principal .ctn-main-bienestar-ctn-play-play-ctn:hover {
  opacity: 0.5;
}
.ctn-principal .ctn-main-archivos {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #0d1317;
  /*border: solid red;*/
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main-archivos .span_text_grande {
  font-size: 24px;
}
.ctn-principal .ctn-main-archivos .span_text_pequeno {
  font-size: 13px;
  color: #937cdf;
}
.ctn-principal .ctn-main-archivos-ctn {
  /*border: solid red;*/
  flex-wrap: wrap;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.ctn-principal .ctn-main-archivos-ctn-all {
  /*border: solid gold;*/
  background: #0c1e26;
  height: 120px;
  width: 250px;
  border-radius: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main-archivos-ctn-all-card {
  /*border: solid blue;*/
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  color: #d5d5d5;
  font-size: 15px;
}

@media (max-width: 700px) {
  .ctn-principal .ctn-main-bienestar-ctn {
    /*border: solid green;*/
  }
  .ctn-principal .ctn-main-bienestar-ctn-titulo {
    /*border: solid green;*/
    margin: 2em;
    font-size: 13px;
    color: white;
  }
  .ctn-principal .ctn-main-bienestar-ctn-play {
    /*border: solid blue;*/
    margin: 1em;
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .ctn-principal .ctn-main-bienestar-ctn-play-text {
    font-size: 10px;
    /*border: solid brown;*/
  }
}

/*# sourceMappingURL=bienestar.css.map */
