#particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#efecto_escritura{
    height: 2rem;
}

.hero_container{
    height: 100vh;
}

.blinking-pipe {
    font-size: 1.7rem;
    font-weight: bolder;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}