@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Jura", sans-serif;
  user-select: none;
}

.ctn-principal {
  overflow-x: hidden;
}

.ctn-principal::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ctn-principal::-webkit-scrollbar-thumb {
  background: #253945;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ctn-principal::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.ctn-principal::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #0e1519;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  background: rgba(14, 21, 25, 0.8235294118);
  width: 100%;
  color: white;
}
header li {
  list-style: none;
  color: #aaa9a9;
}

nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 40px;
  font-size: 14px;
  /*border:solid green;*/
}

.button {
  background: black;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 10px;
  color: white;
}
.button:hover {
  transition: 1s;
  background: white;
  color: black;
  font-weight: 800;
  cursor: pointer;
}
.button:active {
  opacity: 0.5;
}

.button-solid {
  background: linear-gradient(#1c1c9a, #090234);
}
.button-solid:hover {
  transition: 1s;
  background: linear-gradient(90deg, #090234, #1c1c9a);
}

a {
  text-decoration: none;
}

h6 {
  font-weight: 100;
}

.style-linkAll-solid {
  padding-bottom: 3px;
  border-bottom: 1px solid #dbdada;
  color: #dbdada;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}

.style-linkAll {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  color: #aaa9a9;
  /*border: solid red;*/
}

.style-linkAll::after {
  content: "";
  position: absolute;
  color: #dbdada;
  background: #dbdada;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover:after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}

.style-linkAll:hover {
  transition: 0.75s;
  color: #dbdada;
  cursor: pointer;
}

.ctn-header-logo {
  margin-left: 40px;
  display: flex;
  align-items: center;
  /*border: solid red;*/
}
.ctn-header-logo-item-1 {
  height: 70%;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #182931;
  /*border:solid green;*/
  opacity: 0;
  filter: blur(4px);
  align-items: center;
}
.ctn-header-logo-item-1 .span-epis {
  color: #3131fe;
}
.ctn-header-logo-item-1 .span-unh {
  color: #e4e4e4;
}

.content_menu {
  display: none;
}

.content_hello {
  /*border: solid white;*/
}
.content_hello .centreado {
  /*border: solid red;*/
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_hello-titulo {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  /*border:solid red;*/
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.content_hello-titulo2 {
  padding-right: 50px;
}
.content_hello-items {
  display: none;
  border: 1px solid #1e1e26;
  background: #161515;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.content_hello-items1 {
  padding: 0.6em;
  /*border: 1px solid #ff0202;*/
  text-align: left;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
}
.content_hello-items1:hover {
  background: #241c39;
  transition: 0.75s;
  color: white;
}
.content_hello-items1-solid {
  background: #48396f;
}

.panel-menu-items {
  display: none;
}

@media (max-width: 1000px) {
  a {
    /*color: #aaa9a9;*/
    text-decoration: none;
    cursor: none;
  }
  .panel-menu-items {
    /*border: solid red;*/
    margin-left: -2000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: #182931;
    z-index: 9999;
    margin-top: 80px;
    font-family: 23px;
    color: #6f6a6a;
  }
  .panel-menu-items .nav-menu .ul-menu {
    /*border: solid red;*/
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option {
    display: flex;
    flex-direction: column;
    /*a{
        color: #6f6a6a;
    }*/
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span {
    /*border: solid;*/
    color: #6f6a6a;
    padding: 1em;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span:active {
    opacity: 0.5;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-option-span-solid {
    color: #ffffff;
    text-decoration: dashed;
  }
  .panel-menu-items .nav-menu .ul-menu .menu-option .menu-ctn-items {
    /*border: solid red;*/
    display: none;
    flex-direction: column;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1 {
    /*border: solid blue;*/
    /*background:linear-gradient(#221b36,#231c35);*/
    font-size: 12px;
    border-radius: 0px 50px 50px 0px;
    padding: 1em;
    padding-left: 2em;
    margin: 5px;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1:hover {
    color: white;
    text-decoration: line-through;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1 a {
    color: #a29696;
  }
  .panel-menu-items .nav-menu .ul-menu ul .menu-option-n1-solid a {
    color: #ffffff;
    text-decoration: line-through;
  }
  nav {
    display: none;
  }
  .content_menu {
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_menu:active {
    opacity: 0.1;
    background: #202e36;
  }
  .content_menu .menu {
    /*background:url("../svg/drag_handle_white_24dp.svg");*/
    background: url("../svg/drag_handle_white_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 100%;
    /*border:solid red;*/
  }
  .content_menu .close {
    background: url("../svg/close_white_18dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 100%;
    display: none;
  }
  .ctn-header-logo {
    margin-left: 1.5em;
  }
  .ctn-header-logo-item-1 {
    height: 100%;
    font-size: 19px;
  }
}
.panel-black {
  /*border: solid red;*/
  width: 100%;
  height: 100%;
  position: fixed;
  background: #051015;
  z-index: 19;
  margin-top: -1000%;
  /*filter: blur(20px);*/
}

.panel-black2 {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #051015;
  z-index: 19;
  margin-top: 0%;
}

.ctn-principal {
  background: #0e1519;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: auto;
  display: grid;
  grid-template-rows: 100% 100%;
}
.ctn-principal .ctn-main {
  height: 100%;
  width: 100%;
  position: absolute;
  /*border: solid red;*/
  display: grid;
  z-index: 12;
}
.ctn-principal .ctn-footer {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(180deg, #051015);
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ctn-principal .ctn-footer-content {
  position: absolute;
  flex-wrap: wrap;
  /*border: solid green;*/
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.ctn-principal .ctn-footer-content-social {
  margin: 1em;
  display: flex;
  gap: 2px;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
}
.ctn-principal .ctn-footer-content-social .effect:hover {
  opacity: 2px;
  cursor: pointer;
  font-size: 29px;
}
.ctn-principal .ctn-footer-content-items {
  /*border: solid blue;*/
}
.ctn-principal .ctn-footer-content-items span {
  font-size: 12px;
}
.ctn-principal .ctn-footer-content-items h1 {
  font-size: 22px;
}
.ctn-principal .ctn-copyright {
  background: #000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.ctn-principal .ctn-main {
  grid-template-rows: 100% 100% 100% 100% 50%;
}
.ctn-principal .ctn-main-link {
  /*border: solid red;*/
  background: #151320;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ctn-principal .ctn-main-presentacion {
  /*border: solid red;*/
  border-bottom: 1px solid #1a1828;
  display: grid;
  grid-template-columns: 50% 50%;
}
.ctn-principal .ctn-main-presentacion-titulo {
  /*border: solid orange;*/
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main-presentacion-titulo .numero_grande {
  font-size: 60px;
}
.ctn-principal .ctn-main-presentacion-titulo .titulo_grande {
  font-size: 30px;
}
.ctn-principal .ctn-main-presentacion-titulo .descripcion_grande {
  font-size: 13px;
}
.ctn-principal .ctn-main-presentacion-titulo-content {
  /*border: solid green;*/
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}
.ctn-principal .ctn-main-presentacion-content {
  /*border: solid orange;*/
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ctn-principal .ctn-main-presentacion-content-text {
  width: 70%;
  font-size: 15px;
}

@media (max-width: 1000px) {
  .ctn-principal .ctn-main-link {
    border: solid red;
    background: #151320;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .ctn-principal .ctn-main-presentacion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "text" "text" "titulo";
  }
  .ctn-principal .ctn-main-presentacion-titulo {
    width: 100%;
    grid-area: titulo;
    /*border: solid orange;*/
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .ctn-principal .ctn-main-presentacion-titulo-content {
    /*border: solid green;*/
    display: flex;
    justify-items: center;
    align-items: left;
    flex-direction: column;
    margin: 1em;
  }
  .ctn-principal .ctn-main-presentacion-titulo .numero_grande {
    font-size: 25px;
  }
  .ctn-principal .ctn-main-presentacion-titulo .titulo_grande {
    font-size: 20px;
  }
  .ctn-principal .ctn-main-presentacion-titulo .descripcion_grande {
    font-size: 9px;
  }
  .ctn-principal .ctn-main-presentacion-content {
    width: 100%;
    grid-area: text;
    /*border: solid orange;*/
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
  }
  .ctn-principal .ctn-main-presentacion-content-text {
    margin: 2em;
    width: 70%;
    font-size: 9px;
    text-align: right;
  }
}

/*# sourceMappingURL=presentacion.css.map */
