@use 'variables';
@use 'navbar';

.ctn-principal{
    display: grid;
    grid-template:  
                        "main"  420%
                        "footer" 300px;
    
    .ctn-main{
        background: black;
        &-page-gestion{
            @include variables.PageElements(linear-gradient(#181825,#1b1252));
        }
        &-page-reglamento{
            @include variables.PageElements(peru);
        }
        &-page-formato{
            @include variables.PageElements(purple);
        }
        &-page-mor{
            @include variables.PageElements(pink);
        }
        &-page-bienestar{
            @include variables.PageElements(skyblue);
        }
        &-page-otros{
            @include variables.PageElements(blue);
        }
    }
    .ctn-footer{
        background: black;
    }

}