@use 'variables';
@use 'navbar2';
@use 'principal';

@include principal.Principal(600%,6);

.ctn-principal{
    .ctn-main{
        &-page-gestion{
            border: solid #f10505;
        }
        &-page-reglamento{
            border: solid salmon;
        }
        &-page-formato{
            border: solid #f10505;
        }
        &-page-mor{
            border: solid salmon;
        }
        &-page-bienestar{
            border: solid rgb(145, 29, 203);
        }
        &-page-otros{
            border: solid salmon;
        }
    }
    .ctn-footer{
        background: black;
    }

}