@use 'variables';
@use 'navbar2';
@use 'principal';


.ctn-principal{
    .ctn-main{
        grid-template-rows: 100% 50%;   
        &-link{
            /*border: solid red;*/
            background: #151320;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}
